if SHIELD_MYKEYBALL_RIGHT

config ZMK_KEYBOARD_NAME
    default "MyKeyball"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

config CONFIG_PMW3610
    default y
config CONFIG_PMW3610_CPI
    default 1000
config CONFIG_PMW3610_ORIENTATION_180
    default y 
config CONFIG_PMW3610_POLLING_RATE_125_SW
    default y


if SHIELD_MYKEYBALL_LEFT || SHIELD_MYKEYBALL_RIGHT 

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y
endif

